@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

body {
    background: hsl(0, 0%, 95%);
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
}

section {
    width: 910px;
    margin: 10rem auto 0;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 0.5em;
}
article:first-child {
    background: url(./../../images/icon-sedans.svg) no-repeat hsl(31, 77%, 52%);
    background-position: 17% 10%;
    background-size: 20%;
}
article:nth-child(2) {
    background: url(./../../images/icon-suvs.svg) no-repeat hsl(184, 100%, 22%);
    background-position: 17% 10%;
    background-size: 20%;
}
article:last-child {
    background: url(./../../images/icon-luxury.svg) no-repeat hsl(179, 100%, 13%);
    background-position: 17% 10%;
    background-size: 20%;
}

article {
    padding: 7.5rem 3.25rem 4rem;
}

article h1 {
    margin-bottom: 1.6rem;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;

    color: hsl(0, 0%, 95%);
}

article p {
    margin-bottom: 6.1rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9em;
    line-height: 1.55rem;
    color: hsla(0, 0%, 100%, 0.75);
}
article a {
    padding: .8rem 2rem;

    background: hsl(0, 0%, 95%);

    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.865em;

    border: solid 2px #fff;
    border-radius: 3em;

    transition: all ease 0.3s;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9em;
    color: hsla(0, 0%, 100%, 0.75);
}
article:first-child a {
    color: hsl(31, 77%, 52%);
}
article:nth-child(2) a {
    color: hsl(184, 100%, 22%);
}
article:last-child a {
    color: hsl(179, 100%, 13%);
}
article a:hover {
    background-color: inherit;
    color: #fff;
}