@media (min-width: 1367px) {
    section {
        margin-top: 15rem;
    }

}
@media(max-width: 940px) {
    
section {
    width: 90%;
    margin: 10rem auto 2rem;
    flex-direction: column;
}
article {
    padding: 2rem 3.25rem 4rem;
}
article p {
    margin-bottom: 3rem;
}
article {
    padding: 8rem 3.25rem 4rem;
}
}